@font-face {
  font-family: Apercu;
  src: url(./64eda5e5fdd71ddd3dbbf609_apercu-regular.woff2);
}

@font-face {
  font-family: siaga;
  src: url(./siaga.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* .wrapper{
   
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 2vh 4vh;
  position: fixed;
  width: 100%;
  background-color: #e4e4e4;
  z-index: 999;
}

nav svg:nth-child(2) {
  align-self: center;
  margin-left: 9vw;
  animation: rotate 3s infinite linear;
}

nav .nav-items a {
  text-decoration: none;
  font-size: 1.25rem;
  padding: 7px 15px;
  border: 1px solid black;
  border-radius: 8px;
  color: #0a0b0c;
  font-family: Apercu;
  margin: 0.2rem;
  transition: background-color 0.3s linear, color 0.3s linear;
}

nav .nav-items a:hover {
  background-color: #0a0b0c;
  color: #fff;
  cursor: pointer;
}

/* hero section */
.hero {
  padding: 2vh 4vh;
  padding-top: 7rem;
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.hero h1 {
  font-size: 5.7rem;
  line-height: 1;
  font-family: larken !important;
  margin-left: 3%;
  font-weight: 500;
  margin-bottom: 3%;
}

.hero h1 span svg {
  height: 60px;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.subheading-hero {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.subheading-hero p {
  font-size: 1.375rem;
  font-family: Apercu;
  text-align: center;
}

.subheading-hero button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 7px 15px;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
}

.subheading-hero button a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #0a0b0c;
  position: relative;
  /* transition: width 0.3s ease; */
}

.subheading-hero button a::before {
  content: "";
  position: absolute;
  top: 100%;
  background-color: rgb(36, 33, 33);
  height: 2px;
  transition: width 0.3s linear;
}

.subheading-hero a:hover::before {
  width: 100%;
}

.subheading-hero button svg {
  width: 20px;
  height: 30px;
  margin-left: 1rem;
  color: #0a0b0c;
}

/* scroller */

.scroller {
  background-color: #e4e4e4;
  padding-top: 3vh;
}
.scroller .img-container {
  display: flex;
  gap: 0.7rem;
  overflow: hidden;
}

.scroller .img-container img {
  width: 400px;
  height: 500px;
  border-radius: 20%;
  object-fit: cover;
  object-position: center;
  transform: translateX(-20%);
}

.para-container {
  padding: 2vh 4vh;
  margin-top: 2%;
}

.para-container p {
  font-family: Aperuca;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

.get-btn {
  margin-top: 1%;
  padding: 2vh 4vh;
}

.get-btn button {
  border-radius: 8px;
  padding: 7px 15px;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.get-btn button:hover {
  background-color: #0a0b0c;
  color: #fff;
  cursor: pointer;
}

/* cases section */

.cases {
  padding: 2vh 4vh;
  background-color: #e4e4e4;
}

.cases p:first-child {
  font-family: Apercu;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1rem;
}

.cases .cases-head {
  text-align: center;
  margin-top: 3%;
  font-size: 8rem;
  font-family: siaga;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
  position: relative;
}

.cases .cases-head::after {
  content: "Gotta see 'm all";
  position: absolute;
  font-size: 1rem;
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  bottom: -10%;
  left: 60%;
  transform: rotate(-10deg);
  background-color: #f4c727;
  color: #2f2f30;
}

.case-btn {
  margin-top: 3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4vw;
}

.case-btn button {
  border-radius: 8px;
  padding: 7px 15px;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 2%;
}

.case-btn button:hover {
  background-color: #0a0b0c;
  color: #fff;
  cursor: pointer;
}

.case-proj {
  height: 90vh;
  width: 90%;
  background-color: rgb(9, 10, 11);
  margin: 0 auto;
  background-image: url("./assets/photos/caseProj-bg.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 0.3s ease, background-size 0.3s ease;
}

.case-proj img {
  height: 300px;
  width: 300px;
  opacity: 0;
  border-radius: 2rem;
  transition: opacity 0.3s ease;
}

.case-proj:hover {
  cursor: pointer;
  background-size: 110%;
  border-radius: 5rem;
}

.case-proj:hover img {
  opacity: 1;
}

/* tasteofHome section */
.tasteofHome {
  padding: 2vh 4vh;
  background-color: #e4e4e4;
}

.tasteofHome p:first-child {
  font-family: larken;
  font-size: 1.2rem;
  color: #a3a4a7;
  margin-bottom: 0.5rem;
}

.tasteofHome p:nth-child(2) {
  font-family: siaga;
  font-size: 1.4rem;
  font-size: 100;
  color: #141415;
  margin-bottom: 0.5rem;
}

.tasteofHome span {
  display: inline-block;
  border: 1px solid #3d3d41;
  font-size: 0.7rem;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-family: siaga;
  color: #28292a;
  font-weight: 100;
  text-transform: uppercase;
}

.creation-container {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  gap: 0.4rem;
}

.cool-creation {
  height: 100%;
  width: 50%;
  /* overflow: hidden; */
  padding: 2%;
}

.cool {
  height: 70%;
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: url("./assets/photos/cool-creation-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 0.3s ease;
}

.cool:hover {
  border-radius: 5rem;
}

.cool img {
  height: 50%;
  width: 50%;
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cool:hover img {
  opacity: 1;
}

.cool-info {
  margin-top: 0.9rem;
}

.cool-info h4 {
  margin-bottom: 0.5rem;
}

.dont-mind {
  height: 100%;
  width: 50%;
  /* overflow: hidden; */
  padding: 2%;
}

.dontmind-bg {
  height: 84%;
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: url("./assets/photos/dont-mind-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 0.3s ease, border 0.3s ease;
}

.dontmind-bg:hover {
  border: 1px solid #3d3d41;
  border-radius: 5rem;
}

.dontmind-bg img {
  height: 60%;
  width: 60%;
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dontmind-bg:hover img {
  opacity: 1;
}

.dont-mind-info {
  margin-top: 0.9rem;
}

.dont-mind-info h4 {
  margin-bottom: 0.5rem;
}

.meet-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: white;
  padding: 1.4%;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-left: 5.8vw;
  margin-bottom: 3vh;
}

.meet-sec p {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Apercu !important;
  color: #0a0b0c !important;
}

.meet-sec button {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  font-size: 1.09rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

.meet-sec button:hover {
  border-radius: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* services section */
.services {
  padding: 2vh 4vw;
  background-color: #f4f4f1;
}

.services .services-head {
  padding: 0 4vw;
  padding-top: 3rem;
  color: #0a0b0c;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Apercu;
  margin-bottom: 4vh;
}

.ser-subHead {
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ser-subHead p {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: Apercu;
}

.ser-subHead button {
  padding: 1rem 2rem;
  background-color: black;
  border: 1px solid black;
  outline: none;
  font-size: 1.09rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  transition: border-radius 0.3s ease;
}

.ser-subHead button:hover {
  border-radius: 3rem;
  cursor: pointer;
}

/* services-container  */

.services-container {
  padding: 2vh 4vw;
  height: 80vh;
  width: 100%;
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
}

.brandStory,
.brandIdentity,
.webDesign,
.alaCarte {
  height: 100%;
  width: 30%;
}

.ser-bg-item1,
.ser-bg-item2,
.ser-bg-item3,
.ser-bg-item4 {
  height: 70%;
  width: 100%;
  background-image: url("./assets/photos/serv-bg1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem 2rem 0 0;
  transition: border-radius 0.4s ease;
}

.brandStory:hover .ser-bg-item1,
.brandIdentity:hover .ser-bg-item2,
.webDesign:hover .ser-bg-item3,
.alaCarte:hover .ser-bg-item4 {
  border-radius: 4rem;
  transition: border-radius 0.4s ease;
  cursor: pointer;
}

.ser-bg-item2 {
  background-image: url("./assets/photos/serv-bg2.jpg");
}

.ser-bg-item3 {
  background-image: url("./assets/photos/ser-bg3.jpg");
}

.ser-bg-item4 {
  background-image: url("./assets/photos/serv-bg4.jpg");
}

.ser-info-item1,
.ser-info-item2,
.ser-info-item3,
.ser-info-item4 {
  padding: 3vh 2vw;
  border-radius: 0 0 2rem 2rem;
  background-color: #aa81b7;
  transition: border-radius 0.4s ease;
}

.ser-info-item2 {
  background-color: #10100f;
}

.ser-info-item3 {
  background-color: #36a96a;
}

.ser-info-item4 {
  background-color: #fa8a58;
}

.ser-info-item1 h4,
.ser-info-item2 h4,
.ser-info-item3 h4,
.ser-info-item4 h4 {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: Apercu;
  margin-bottom: 0.5rem;
  color: #fff;
}

.ser-info-item1 p,
.ser-info-item4 p,
.ser-info-item3 p,
.ser-info-item2 p {
  font-size: 1.1rem;
  font-family: Apercu;
  color: #fff;
}

.brandStory:hover .ser-info-item1,
.brandIdentity:hover .ser-info-item2,
.webDesign:hover .ser-info-item3,
.alaCarte:hover .ser-info-item4 {
  border-radius: 3rem;
  cursor: pointer;
}

.nicandAtNOOn {
  margin-top: 3%;
  padding: 2vh 6vw;
}

.nicandAtNOOn p {
  font-size: 1.5rem;
  font-family: Apercu;
  margin-bottom: 0.3rem;
}

.nicandAtNOOnBtn {
  margin-top: 2%;
  padding: 2vh 6vw;
}

.nicandAtNOOnBtn button {
  padding: 0.7rem 1.3rem;
  background-color: #0a0b0c;
  border: 1px solid black;
  outline: none;
  font-size: 1.09rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  cursor: pointer;
}

/* belief */

.belief {
  background-color: #f4f4f1;
  padding: 2vh 8rem;
  position: relative;
}

.belief p:first-child {
  text-align: center;
  font-size: 1.3rem;
  font-family: Apercu;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 4vh;
}

.belief-head {
  text-align: center;
  font-size: 8.5rem;
  font-family: Apercu !important;
  font-weight: 900;
  line-height: 1.04;
}

.belief-head svg {
  animation: rotate 4s infinite linear;
}

.belief-photo {
  height: 90vh;
  width: 100%;
  padding: 2vh 6vw;
  margin-top: 1.4rem;
  border-radius: 2rem;
  overflow: hidden;
  background-image: url("./assets/photos/belief-photo-bg.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.4s ease;
}

.belief-photo:hover {
  background-size: 110%;
  cursor: pointer;
}

/* .brandSessions{

} */

.brandSessions span:first-child {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  background-color: #a3a4a7;
  color: #fff;
  border-radius: 10rem;
  font-size: Apercu;
}

.brandSessions span:nth-child(2) {
  color: #5a5a5a;
}

.collStuff {
  margin-top: 8vh;
}

.collStuff #stuff {
  font-size: 2rem;
  color: #000 !important;
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.stuff-container {
  display: flex;
  align-items: stretch;
  gap: 3rem;
}

.stuff-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.stuff-container .stuff-item > span {
  font-size: 1.5rem;
  font-family: Apercu;
  color: #5a5a5a;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.get-in-toch-belief {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.get-in-toch-belief img {
  cursor: pointer;
  animation: rotate 6s infinite linear;
  transition: scale 0.4s ease;
}

.get-in-toch-belief img:hover {
  scale: 1.05;
}

/* Footer */
footer {
  background-color: #0a0b0c;
  padding: 2vh 0;
  /* padding-left: 9vw; */
}

.foot-head {
  display: flex;
  justify-content: space-between;
  padding-left: 9vw;
}

.foot-first h3 {
  font-size: 2.2rem;
  font-family: Apercu;
  font-weight: 600;
  color: #fff;
  margin: 0.7rem;
}

.foot-first button {
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  margin-left: 0.7rem;
  transition: border-radius 0.4s ease;
}

.foot-first button i {
  margin-left: 0.5rem;
}

.foot-first button:hover {
  border-radius: 5rem;
}

.foot-second {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 40vw;
}

.foot-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.foot-item h4 {
  color: #fff;
  font-size: 1.1rem;
  font-family: Apercu;
  margin-bottom: 0.5rem;
}

.foot-item a {
  color: #fff;
  text-decoration: none;
  font-family: Apercu;
  margin-bottom: 0.3rem;
  transition: text-decoration 0.3s ease;
}

.foot-item a:hover {
  text-decoration: underline;
}

#foot-img {
  padding: 0 !important;
  height: 50vh;
  width: 100%;
}

#foot-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
